body {
  background-color: #f3f3f3;
  overflow-y: hidden;
}
main {
  height: 100%;
}
.block {
  display: grid;
  grid: auto / 100%;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding-bottom: 60px;
  height: 80px;
}
.title h1 {
  font-size: 48px;
  font-weight: 700;
}
.title-post {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.title-post h2 {
  font-size: 28px;
}
.name-and-date {
  font-size: 14px;
}
.buttons {
  display: flex;
  width: 1380.18px;
  justify-content: flex-end;
}
.new-button {
  background-color: #32c140;
}
.edit-button {
  background-color: #758feb;
}
.delete-button {
  background-color: #e51616;
}
.new-button,
.edit-button,
.delete-button {
  margin-right: 5px;
  border: none;
  height: 42px;
  width: 84px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.post {
  display: flex;
  justify-content: center;
  display: grid;
  grid: 50% 50% / auto;
}
.image {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image img {
  width: 1400px;
  height: 770px;
  border-radius: 5px;
}
.content-two {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
  z-index: 1;
}
.information {
  background-color: white;
  width: 70%;
  padding: 50px;
  font-size: 20px;
  border-radius: 15px;
}
.modal {
  width: 700px;
  height: 270px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  display: none;
  margin-top: -700px;
  z-index: 99;
  border-radius: 15px;
}
.open-modal {
  display: flex;
}
.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.content-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f8f8f8;
  margin-bottom: 40px;
}
.buttons-modal {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
p {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.modal-no {
  margin-right: 20px;
  background-color: #758feb;
  font-weight: bolder;
}
.modal-delete {
  background-color: red;
  font-weight: bolder;
}
.modal-no,
.modal-delete {
  border: none;
  width: 20%;
  color: white;
  cursor: pointer;
  height: 40px;
  font-size: 12px;
  padding: 5px;
  border-radius: 1px;
}
.text-modal p {
  font-size: 25px;
  margin-bottom: 50px;
}
@media screen and (min-width: 100px) and (max-width: 450px) {
  .post {
    display: grid;
    grid: 1fr 1fr / auto;
  }
  .information {
    width: 80%;
    padding: 20px;
  }
  .content-two {
    margin-top: -100px;
    align-items: flex-start;
  }
  .image img {
    width: 100%;
    height: 400px;
  }
  .text p {
    font-size: 10px;
  }
  .name-and-date {
    font-size: 5px;
  }
  .buttons {
    width: 100%;
  }
  .new-button,
  .edit-button,
  .delete-button {
    width: 70px;
    height: 35px;
  }
  .title-post h2 {
    font-size: 18px;
  }
  .modal {
    width: 200px;
  }
  .modal-no,
  .modal-delete {
    width: 20%;
    height: 20px;
    font-size: 7px;
  }
}
@media screen and (min-width: 451px) and (max-width: 600px) {
  body {
    overflow: hidden;
  }
  .post {
    display: grid;
    grid: 1fr 1fr / auto;
  }
  .information {
    width: 100%;
    padding: 20px;
  }
  .content-two {
    margin-top: -100px;
    align-items: flex-start;
  }
  .image img {
    width: 100%;
    height: 400px;
  }
  .text p {
    font-size: 15px;
  }
  .name-and-date {
    font-size: 5px;
  }
  .buttons {
    width: 100%;
  }
  .new-button,
  .edit-button,
  .delete-button {
    width: 70px;
    height: 35px;
  }
  .title-post h2 {
    font-size: 18px;
  }
  .modal {
    width: 200px;
  }
  .modal-no,
  .modal-delete {
    width: 20%;
    height: 20px;
    font-size: 7px;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  body {
    overflow: auto;
    height: 300px;
  }
  .post {
    display: grid;
    grid: 1fr 1fr / auto;
  }
  .information {
    width: 80%;
    padding: 50px;
  }
  .content-two {
    margin-top: -100px;
    align-items: flex-start;
    height: 100px;
  }
  .image img {
    width: 100%;
    height: 700px;
  }
  .text p {
    font-size: 20px;
  }
  .name-and-date {
    font-size: 10px;
  }
  .buttons {
    width: 100%;
  }
  .new-button,
  .edit-button,
  .delete-button {
    width: 80px;
    height: 40px;
  }
  .title-post h2 {
    font-size: 30px;
  }
  .modal {
    width: 300px;
    margin-top: -1100px;
  }
  .modal-no,
  .modal-delete {
    width: 30%;
    height: 30px;
    font-size: 10px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1440px) {
  body {
    overflow: auto;
  }
  .post {
    display: grid;
    grid: 1fr 1fr / auto;
  }
  .information {
    width: 80%;
    padding: 50px;
  }
  .content-two {
    margin-top: -100px;
    align-items: flex-start;
  }
  .image img {
    width: 100%;
    height: 700px;
  }
  .text p {
    font-size: 20px;
  }
  .name-and-date {
    font-size: 14px;
  }
  .buttons {
    width: 100%;
  }
  .new-button,
  .edit-button,
  .delete-button {
    height: 42px;
    width: 84px;
  }
  .title-post h2 {
    font-size: 30px;
  }
  .modal {
    width: 300px;
    margin-top: -1100px;
  }
  .modal-no,
  .modal-delete {
    width: 30%;
    height: 30px;
    font-size: 10px;
  }
}
